.percent-complete{
    position: relative;
    width: 100%;
    background-color: white;
    height: 10px;
    top: 0;
    left: 0;
    border-radius: 5px;
    span{
        position: absolute;
        background-color: #5fce60;
        height: 100%;
        border-radius: 5px;
        -webkit-box-shadow: 13px 3px 61px -8px rgba(0,0,0,0.47);
        -moz-box-shadow: 13px 3px 61px -8px rgba(0,0,0,0.47);
        box-shadow: 13px 3px 61px -8px rgba(0,0,0,0.47);
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
    }
}

.evaluation-component {
    margin: 26px 10%;

    .exercise-text-container {
        margin-bottom: 26px;
    }

    .sheet{
        display: inline-block;
        margin:10px;
        height: calc(100vw / 2 - 50px);
        width: calc(100vw / 2 - 50px);
        border: solid 2px blue;
        border-radius: 7px; 
        img{
            width: 100%;
            height: 100%;
        }
    }
    .title{
        height: 30px;
        width: 100%;
        background-color: white;
    }
    .correct{
        padding: 5px;
        border-radius: 5px;
        margin: 10px 0;
        background-color: #66dc65;
    }
    .error{
        padding: 5px;
        border-radius: 5px;
        margin: 10px 0;
        background-color: #ff2f2fa3;
    }
    .button-media{
        height: 40px;
        width: 40px;
        border-radius: 5px;
        margin: 25%;
    }
    audio{
        visibility: hidden;
        height: 0px;
    }
    ion-card-header{
        white-space: normal;
    }
    .zorionak-picture {
        text-align: center;
    }
    
    .audio-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        .play-button {
            height: 35px;
            width: 35px !important;
            min-width: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #4c4c4c;
            margin-right: 16px;
        }
    }

    .response-container {
        width: 100%;

        .accents-buttons-container {
            display: flex;
            flex-direction: row;

            button {
                width: 36px;
                height: 36px;
                min-width: unset;
                margin-right: 8px;
            }
        }

        .response-input {
            width: 100%;
            padding-bottom: 16px;
        }
    }

    .buttons-container {
        width: 100%;

        button {
            width: 100%;
            margin-bottom: 8px;
        }
    }
}

::ng-deep .freebirdFormviewerViewNoPadding {
    display: none !important;
}
