<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <mat-icon *ngIf="!pageBack" (click)="toogleMenu()" class="menu-button">menu</mat-icon>
  <mat-icon *ngIf="pageBack" class="back-arrow" [routerLink]="[pageBack]" routerDirection="root">arrow_back</mat-icon>
  {{title}}
</mat-toolbar>

<div class="gray-cover-panel" *ngIf="widthMenu === '304px'" (click)="toogleMenu()"></div>
<div id="mySidepanel" class="lateral-panel" [ngStyle]="{'width': widthMenu}">
  <div *ngIf="widthMenu === '304px'">
    <mat-list *ngFor="let page of appPages">
      <mat-list-item [routerLink]="[page.url]" routerDirection="root" [ngClass]="title === page.title ? 'selected' : ''">
        <mat-icon aria-hidden="false">{{page.icon}}</mat-icon>
        {{page.title}}
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>


<div class="container"> 
  <div class="lateral-menu">
    <mat-list *ngFor="let page of appPages">
      <mat-list-item [routerLink]="[page.url]" routerDirection="root" [ngClass]="title === page.title ? 'selected' : ''">
        <mat-icon aria-hidden="false">{{page.icon}}</mat-icon>
        {{page.title}}
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  <div class="outlet-container" [ngClass]="title">
    <router-outlet></router-outlet>
  </div>
</div>


