<div>
  <span *ngFor="let lesson of lessons">
    <div class="card-element" [routerLink]="['/lesson',lesson.number]" routerLinkActive="router-link-active" >
      <ion-grid style="height:100%">
        <ion-row style="height:100%">
          <ion-col col-4 style="height:100%">
            <!-- <img src="assets/euskicons/{{lesson.maila}}.png"> -->
          </ion-col>
          <ion-col col-8 style="height:100%">{{lesson.number}}. {{lesson.title}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </span>
</div>
