/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Baloo;
    src: url(assets/fonts/Baloo2.ttf);
}

html, body { height: 100%; }
body { margin: 0; font-family: Baloo, Roboto, "Helvetica Neue", sans-serif; }

mat-icon{
    margin-right: 8px;
    cursor: pointer;
    &.back-arrow {
        margin-left: 0px !important;
    }
}

mat-list-item {
    cursor: pointer;
}

mat-toolbar {
    cursor: default;
}

.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}
.mat-form-field-underline {
    bottom: 0.15em !important;
}